
<div class="me-content">
    <div class="card">
        <h1>Front End Developer</h1>
       <div id="content">
        <div class="left-side">
            <div class="circle">
                <img src="assets/images/profilepic.jpg" alt="">
            </div>
        </div>
        <div class="right-side">
            <div class="about">
                <p><label>Name </label><span>: {{candidate.name}}</span></p>
            </div>
            <div class="about">
                <p><label>Email</label><span>:  {{candidate.email}}</span></p>
            </div>
            <div class="about">
                <p><label>mobile</label><span>:  {{candidate.mobile}}</span></p>
            </div>
            <div class="about">
               <p><label>linkedIn </label><span>: <a href= {{candidate.linkedIn}} target="__blank">LinkedIn</a></span></p>
            </div>
            <div class="about">
                <p><label style="vertical-align: top;">Education </label><span>: {{candidate.education}}</span></p>
             </div>
        </div>
       </div>
    </div>
</div>