<div class="skill-content">
    <div class="skill-card">
        <div class="grid-card-item header">
            <h1>Skills</h1>
        </div> 
        <div class="grid-card-item left-one">
            <h3>web-Languages</h3>
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Java-Script</li>
                <li>Type-Script</li>
            </ul>
        </div>  
        <div class="grid-card-item right-one">
            <h3>web Technologies</h3>
            <ul>
                <li>Angular Framwork</li>
                <li>React js - Next js</li>
            </ul>
        </div>

    </div>
</div>